#gerais
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Ignorar itens do Backend Laravel
backend-laravel-api/vendor/
backend-laravel-api/node_modules/
backend-laravel-api/public/storage
backend-laravel-api/storage/*.key
backend-laravel-api/.env
backend-laravel-api/.phpunit.cache/
backend-laravel-api/public/build/

# Ignorar itens do Frontend React (Exemplo)
frontend-react/node_modules/
frontend-react/build/
frontend-react/.env